body {
  padding: 50px;
  font: 14px sans-serif;
  text-align: center;
  background: black;
  color: #eee;
}

a {
  color: #00B7FF;
}

#cat {
	position: relative;
	top: 0; left: 0;
	width: 946px;
	height: 562px;
	background: black;
	/*background-size: 1046px 662px;*/

	margin: 0 auto;
}

#cat p.hint {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	display: block;
}

#cat p.wait {
	position: absolute;
	display: none;
	width: 200px;
	text-align: center;
}
