extends layout

block content
  #cat(data-size=1046)
    div.hint
      h2 Piccsy Playground Presents
      h1 Cat & Mouse
      p Point your mouse anywhere inside this window
    div.wait
      p Finding Mouse... Hold Still!
      div.progress
        div.bar
